<div class="m-0 vh-100 row justify-content-center align-items-center bg-warning">
  <div class="container">
    <div class="row justify-content-center">
      <div class="col-6 align-self-center p-4 bg-danger border border-dark border-5 rounded-3">
        <h1 class="fw-bold text-center text-light">Draw This!!</h1>
        <form #f>
          <div class="mb-3">
            <label for="validationCustom01"class="form-label fw-bold text-light">Sala</label>
            <input [(ngModel)]="nameRoom" [ngModelOptions]="{standalone: true}" type="text" class="form-control" id="validationCustom01" placeholder="Nombre de la Sala" required>
            <div class="valid-feedback">
              Looks good!
            </div>
          </div>
          <div *ngIf="nameRoom!=''">
            <button class="btn btn-warning" routerLink="{{nameRoom}}">Entrar a la Sala</button>
          </div>
        </form>
      </div>
    </div>
  </div>
</div>
